<mat-form-field [color]="color" [hintLabel]="hint" class="q9-select-field">
	<mat-label *ngIf="label">{{ label }}</mat-label>

	<mat-select
		[multiple]="multiple"
		[ngModel]="_value"
		[disabled]="_isDisabled"
		[errorStateMatcher]="this"
		(ngModelChange)="_onChange($event)">
		<mat-option *ngFor="let option of options" [value]="option.value">
			<ng-container [ngTemplateOutlet]="option.content"></ng-container>
		</mat-option>
	</mat-select>

	<mat-error *ngIf="_control?.errors | transform: getError as error">
		{{ error.message }}
	</mat-error>
</mat-form-field>
