{
  "branches": [
    "master",
    {name: "epic/HYDRO-*", prerelease: true},
    {name: "release/**", prerelease: true}
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/npm",
      {
        "npmPublish": false,
        "pkgRoot": "projects/ui-kit",
        "tarballDir": "projects/ui-kit"
      }
    ],
    [
      "@semantic-release/exec", {
          "prepareCmd": "npm run build",
          "publishCmd": "npm run publish"
     }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["projects/ui-kit/package.json", "CHANGELOG.md"],
      }
    ],
      "@semantic-release/github"
    ],
    "release": {
      "assets": ["dist/**/*"]
    }
}
