@use '@angular/material' as mat;

html[class^="q9"] {
  //Material button tokens
  --mdc-protected-button-container-elevation: none;
  --mdc-protected-button-hover-container-elevation: none;
  --mdc-protected-button-focus-container-elevation: none;
  --mdc-protected-button-pressed-container-elevation: none;
  --mdc-protected-button-disabled-container-elevation: none;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
}
