@use '@angular/material' as mat;

:host-context:not([disabled='true']) {
	&:not(.q9-button-toggle-checked) button {
		color: var(--q9-accent-500);
		border-color: var(--q9-accent-200);
	}

	&.q9-button-toggle-checked button {
		background-color: var(--q9-primary-100);
	}
}

:host {
	margin-right: 16px;

	&:last-child {
		margin-right: 0;
	}
}

button.mdc-button[mat-stroked-button] {
	height: 32px;
	min-height: 32px;
}
